<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>string_id</key>
		<string>japanese_30</string>
		<key>string_value</key>
		<string></string>
		<key>note</key>
		<string></string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_31</string>
		<key>string_value</key>
		<string></string>
		<key>note</key>
		<string></string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_32</string>
		<key>string_value</key>
		<string></string>
		<key>note</key>
		<string></string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_33</string>
		<key>string_value</key>
		<string></string>
		<key>note</key>
		<string></string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_34</string>
		<key>string_value</key>
		<string></string>
		<key>note</key>
		<string></string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_68</string>
		<key>string_value</key>
		<string>MAX値　80</string>
		<key>note</key>
		<string></string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_69</string>
		<key>string_value</key>
		<string>MAX値　120</string>
		<key>note</key>
		<string></string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_70</string>
		<key>string_value</key>
		<string>MAX値　160</string>
		<key>note</key>
		<string></string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_71</string>
		<key>string_value</key>
		<string>1000ガチC</string>
		<key>note</key>
		<string></string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_72</string>
		<key>string_value</key>
		<string>3000ガチC</string>
		<key>note</key>
		<string></string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_73</string>
		<key>string_value</key>
		<string>10.000ガチC</string>
		<key>note</key>
		<string></string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_74</string>
		<key>string_value</key>
		<string>30.000ガチC</string>
		<key>note</key>
		<string></string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_75</string>
		<key>string_value</key>
		<string>100.000ガチC</string>
		<key>note</key>
		<string></string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_76</string>
		<key>string_value</key>
		<string>1000ガチC</string>
		<key>note</key>
		<string></string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_77</string>
		<key>string_value</key>
		<string>3000ガチC</string>
		<key>note</key>
		<string></string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_78</string>
		<key>string_value</key>
		<string>10.000ガチC</string>
		<key>note</key>
		<string></string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_79</string>
		<key>string_value</key>
		<string>30.000ガチC</string>
		<key>note</key>
		<string></string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_80</string>
		<key>string_value</key>
		<string>100.000ガチC</string>
		<key>note</key>
		<string></string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_tutorial_first_map_scene</string>
		<key>string_value</key>
		<string>\n喧嘩上等だ！　暴れまくってくれ！\n最初のマップは茨城だな！</string>
		<key>note</key>
		<string>MAP画面遷移時</string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_tutorial_first_stage_scene</string>
		<key>string_value</key>
		<string>\n〈シモツマ〉と読むんだ、スゲーだろ！\nステージは１２まであるぞ！</string>
		<key>note</key>
		<string></string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_tutorial_first_selecting_item_scene_1</string>
		<key>string_value</key>
		<string>\nアイコンをタップすると装備される\nもう一回タップで装備を外すぞ</string>
		<key>note</key>
		<string></string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_tutorial_first_selecting_item_scene_2</string>
		<key>string_value</key>
		<string>\n延長してくれるから喧嘩に有利だな！\nお守り〈極悪非道〉をくれてやる！</string>
		<key>note</key>
		<string></string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_tutorial_enter_stage</string>
		<key>string_value</key>
		<string>\n向こうにある敵アジトをぶっ潰すんだ\n俺のＨＰがなくなったら負けだぞ！</string>
		<key>note</key>
		<string>Enterしたとき</string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_tutorial_yp1-1</string>
		<key>string_value</key>
		<string>\n敵ヤンキーどもをぶちのめすんだ！\n今はパンチの奴だけ呼べるぞ！</string>
		<key>note</key>
		<string></string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_tutorial_yp1-2</string>
		<key>string_value</key>
		<string>\nスグ来るやつは重宝するな！\nピンクに光ると呼び出しＯＫだ！</string>
		<key>note</key>
		<string></string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_tutorial_yp2_1</string>
		<key>string_value</key>
		<string>\n呼び出しボタンの脇に数字があるな？\nメンバー呼び出しに必要なスタミナだ！</string>
		<key>note</key>
		<string></string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_tutorial_yp2_2</string>
		<key>string_value</key>
		<string>\n強いメンバーほどスタミナが必要だな！</string>
		<key>note</key>
		<string></string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_tutorial_bike</string>
		<key>string_value</key>
		<string>\nゲージはステージを持ち越せるんだ\nさぁ単車ブッ込み攻撃で一網打尽だぁ</string>
		<key>note</key>
		<string></string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_tutorial_boss</string>
		<key>string_value</key>
		<string>\n俺がブッ込んでやる！</string>
		<key>note</key>
		<string></string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_tutorial_item_di_01_1</string>
		<key>string_value</key>
		<string>\n紫の玉は爆速玉だな！\nこいつはメンバー呼び出しが倍速になる！</string>
		<key>note</key>
		<string></string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_tutorial_item_di_01_2</string>
		<key>string_value</key>
		<string>\n有効中は次のアイテムは使えないんだ！\nお守りで有効時間を伸ばせるぞ！</string>
		<key>note</key>
		<string></string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_tutorial_item_di_02_1</string>
		<key>string_value</key>
		<string>\n赤い玉は凶撃玉だな！\nこいつは攻撃力が倍になるんだ！\n</string>
		<key>note</key>
		<string></string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_tutorial_item_di_02_2</string>
		<key>string_value</key>
		<string>\n有効中は次のアイテムは使えないんだ！\nお守りで有効時間を伸ばせるぞ！</string>
		<key>note</key>
		<string></string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_tutorial_item_di_03_1</string>
		<key>string_value</key>
		<string>\n青い玉は狂防玉だな！\nこいつは防御力が倍になるんだ！\n</string>
		<key>note</key>
		<string></string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_tutorial_item_di_03_2</string>
		<key>string_value</key>
		<string>\n有効中は次のアイテムは使えないんだ！\nお守りで有効時間を伸ばせるぞ！</string>
		<key>note</key>
		<string></string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_tutorial_item_di_04_1</string>
		<key>string_value</key>
		<string>\n赤と紫２色玉は撃速玉だな！\n攻撃力倍でさらに呼び出し倍速だ！</string>
		<key>note</key>
		<string></string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_tutorial_item_di_04_2</string>
		<key>string_value</key>
		<string>\n有効中は次のアイテムは使えないんだ！\nお守りで有効時間を伸ばせるぞ！</string>
		<key>note</key>
		<string></string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_tutorial_item_di_05_1</string>
		<key>string_value</key>
		<string>\n青と紫２色玉は防速玉だな！\n防御力倍でさらに呼び出し倍速だ！</string>
		<key>note</key>
		<string></string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_tutorial_item_di_05_2</string>
		<key>string_value</key>
		<string>\n有効中は次のアイテムは使えないんだ！\nお守りで有効時間を伸ばせるぞ！</string>
		<key>note</key>
		<string></string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_tutorial_item_di_06_1</string>
		<key>string_value</key>
		<string>\n赤と青２色玉は撃防玉だな！\n攻撃力も防御力も倍になるぞ！</string>
		<key>note</key>
		<string></string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_tutorial_item_di_06_2</string>
		<key>string_value</key>
		<string>\n有効中は次のアイテムは使えないんだ！\nお守りで有効時間を伸ばせるぞ！</string>
		<key>note</key>
		<string></string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_tutorial_conbini_page1_1</string>
		<key>string_value</key>
		<string>\n腹が減って喧嘩できねぇなんて\n涙出るくらい情けねぇぜ！</string>
		<key>note</key>
		<string>1チュートリアルの内容</string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_tutorial_conbini_page1_2</string>
		<key>string_value</key>
		<string>\nダチからもらう回復アイテムだ\n相手が贈ってから２４時間有効だぞ！</string>
		<key>note</key>
		<string>1チュートリアルの内容</string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_tutorial_conbini_page2</string>
		<key>string_value</key>
		<string>\nドロップアイテムの有効時間を伸ばせるぞ\nお守りは友達招待でももらえるからな！</string>
		<key>note</key>
		<string>2チュートリアルの内容</string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_tutorial_ajito_1</string>
		<key>string_value</key>
		<string>\n単虎やフェイスブックとの連携ができるぞ\n招待ボタンからＳＮＳ拡散もできるぞ</string>
		<key>note</key>
		<string></string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_tutorial_ajito_2</string>
		<key>string_value</key>
		<string>\n単虎のダチをガチトラのダチにできる！\nダチには回復アイテムを贈れるぞ！</string>
		<key>note</key>
		<string></string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_tutorial_ajito_3</string>
		<key>string_value</key>
		<string>\nその人数に応じて豪華プレゼントだ！\n詳しくは招待アイコンで確認してくれ！</string>
		<key>note</key>
		<string></string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_tutorial_upgrade_1</string>
		<key>string_value</key>
		<string>\nスタミナの上限が増えると\n強いメンバーを呼び出しやすくなるな！</string>
		<key>note</key>
		<string></string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_tutorial_upgrade_2</string>
		<key>string_value</key>
		<string>\nメンバーを出撃リストにドラッグしてくれ\n戻すときは逆にリストの方へドラッグだな</string>
		<key>note</key>
		<string></string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_tutorial_upgrade_3</string>
		<key>string_value</key>
		<string>\n最大で形態５まで強くなるんだ！\nアイコンタップでメンバー情報を確認だ</string>
		<key>note</key>
		<string></string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_tutorial_game_result</string>
		<key>string_value</key>
		<string>\n経験値によって味方ヤンキーがどんどん解放されていきます。\n\n１回ステージに入ると体力を３消費します。\n体力回復はラーメンで行いますが、友だちに回復依頼もできます。\n\n『単車の虎』、フェイスブックと連携すると、友だちを増やせます。\n連携は〈ステイタス画面〉でおこなえます。</string>
		<key>note</key>
		<string></string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_tutorial_map_stage_1</string>
		<key>string_value</key>
		<string>\nラーメン缶をタップすると\nダチにラーメン缶をリクエストできるぞ！</string>
		<key>note</key>
		<string></string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_tutorial_map_stage_2</string>
		<key>string_value</key>
		<string>\nリクエストもプレゼントも１日１０回だ！\nラーメン缶は毎日１０個無料で手に入るぞ</string>
		<key>note</key>
		<string></string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_tutorial_friend_list_1</string>
		<key>string_value</key>
		<string>\n『単車の虎』とフェイスブックのダチが\nリストに表示されるぞ！</string>
		<key>note</key>
		<string></string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_tutorial_friend_list_2</string>
		<key>string_value</key>
		<string>\nここでダチを選ぶことでできるぞ！\nどっちも１日１０人までだからな！</string>
		<key>note</key>
		<string></string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_tutorial_empty_ap_1</string>
		<key>string_value</key>
		<string>\n体力不足だ！　ラーメン持ってるだろ？\nもう一暴れできるぜ！</string>
		<key>note</key>
		<string>APがなくなった時</string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_tutorial_empty_ap_2</string>
		<key>string_value</key>
		<string>\n体力はじっとしていると回復するぞ\nダチにラーメン缶のリクエストもできるぜ</string>
		<key>note</key>
		<string>APがなくなった時</string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_tutorial_vibrate_attack</string>
		<key>string_value</key>
		<string>\n今のは「ガクブル攻撃」だ！\n特殊攻撃は味方も敵も出すぞ！</string>
		<key>note</key>
		<string>vibrate_attack</string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_tutorial_flash_attack</string>
		<key>string_value</key>
		<string>\n今のは「ビビらせ攻撃」だ！\n特殊攻撃は味方も敵も出すぞ！</string>
		<key>note</key>
		<string>flash_attack</string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_tutorial_freeze_attack</string>
		<key>string_value</key>
		<string>\n今のは「寒いギャグ攻撃」だ！\n特殊攻撃は味方も敵も出すぞ！</string>
		<key>note</key>
		<string>freeze_attack</string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_gachig_not_enought</string>
		<key>string_value</key>
		<string>Cが不足しています\n購入ボタンでガチＣ購入画面を表示します</string>
		<key>note</key>
		<string>Cが不足メッセージ</string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_ap_not_enough_buy_ramen</string>
		<key>string_value</key>
		<string>\nコンビニでラーメンを購入しますか？\nダチにラーメン缶のリクエストもできます\n体力は９分で１回復します</string>
		<key>note</key>
		<string>APが足りなくてラメンもなくてメッセージ</string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_retry_stage</string>
		<key>string_value</key>
		<string>\n装備しているアイテムはなくなります\nリトライ時に体力を３消費します</string>
		<key>note</key>
		<string></string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_menu_back_confirm</string>
		<key>string_value</key>
		<string>\n装備しているアイテムはなくなります</string>
		<key>note</key>
		<string></string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_renkei_help</string>
		<key>string_value</key>
		<string>\n『単車の虎』の登録名が表示されます。次の連携メリットがあります：\n\n①ダチとラーメン缶のリクエストやプレゼントができます\n②ダチとランキングで競い合えます\n③『単車の虎』で使う限定パーツを取得できます\n※ゲストユーザーの方は『単車の虎』アプリをダウンロードします。</string>
		<key>note</key>
		<string></string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_network_error</string>
		<key>string_value</key>
		<string>\n通信状況をお確かめのうえ、もう一度お試しください</string>
		<key>note</key>
		<string></string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_renkei_confirm</string>
		<key>string_value</key>
		<string>\nゲームは再起動されます</string>
		<key>note</key>
		<string></string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_use_gift_ramen_confirm</string>
		<key>string_value</key>
		<string></string>
		<key>note</key>
		<string></string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_use_ramen_confirm</string>
		<key>string_value</key>
		<string></string>
		<key>note</key>
		<string></string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_use_ramen_can_confirm</string>
		<key>string_value</key>
		<string></string>
		<key>note</key>
		<string></string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_exitgame_confirm</string>
		<key>string_value</key>
		<string>\nステージ途中の場合、ステージの記録は削除されます</string>
		<key>note</key>
		<string></string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_change_renkei_stage</string>
		<key>string_value</key>
		<string>\n新しい端末に連携状態を移行しますか？</string>
		<key>note</key>
		<string></string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_renkei_error</string>
		<key>string_value</key>
		<string>\nもう一度、連携しますか？</string>
		<key>note</key>
		<string></string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_renkei_device_id_false</string>
		<key>string_value</key>
		<string></string>
		<key>note</key>
		<string>IDがエラー</string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_response_code_invaild</string>
		<key>string_value</key>
		<string>\n通信環境をお確かめのうえ、もう一度お試しください</string>
		<key>note</key>
		<string></string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_send_data_error</string>
		<key>string_value</key>
		<string>\n通信環境をお確かめのうえ、もう一度お試しください</string>
		<key>note</key>
		<string></string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_buy_item_error</string>
		<key>string_value</key>
		<string>\nもう一度、購入しますか？</string>
		<key>note</key>
		<string></string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_cannot_use_item</string>
		<key>string_value</key>
		<string>\nもう一度、使用しますか？</string>
		<key>note</key>
		<string></string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_share_facebook_ok_bonus</string>
		<key>string_value</key>
		<string>Facebookでシェアできました！\n１００ガチＧプレゼント！</string>
		<key>note</key>
		<string>share_facebook_ok</string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_share_facebook_ok_no_bonus</string>
		<key>string_value</key>
		<string>Facebookでシェアできました！</string>
		<key>note</key>
		<string>share_facebook_ok_no_bonus</string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_share_facebook_error</string>
		<key>string_value</key>
		<string>Facebookでシェアできませんでした</string>
		<key>note</key>
		<string>share_facebook_error</string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_share_twitter_ok_bonus</string>
		<key>string_value</key>
		<string>Twitterでシェアできました！\n１００ガチＧプレゼント！</string>
		<key>note</key>
		<string>share_twitter_ok</string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_share_twitter_ok_no_bonus</string>
		<key>string_value</key>
		<string>Twitterでシェアできました！</string>
		<key>note</key>
		<string>share_twitter_ok_no_bonus</string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_share_twitter_error</string>
		<key>string_value</key>
		<string>Twitterでシェアできませんでした</string>
		<key>note</key>
		<string>share_twitter_error</string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_missing_file</string>
		<key>string_value</key>
		<string>\nゲームを再起動してください</string>
		<key>note</key>
		<string></string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_game_resource_update</string>
		<key>string_value</key>
		<string>\nアップデート終了まで少々お待ちください</string>
		<key>note</key>
		<string></string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_upgrade_error</string>
		<key>string_value</key>
		<string></string>
		<key>note</key>
		<string></string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_user_id_error</string>
		<key>string_value</key>
		<string>\n運営会社へ連絡してください</string>
		<key>note</key>
		<string></string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_need_renkei</string>
		<key>string_value</key>
		<string></string>
		<key>note</key>
		<string></string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_friend_existed</string>
		<key>string_value</key>
		<string></string>
		<key>note</key>
		<string></string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_full_friend</string>
		<key>string_value</key>
		<string>\nだれか一人を削除しますか？</string>
		<key>note</key>
		<string></string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_remove_friend_confirm</string>
		<key>string_value</key>
		<string></string>
		<key>note</key>
		<string></string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_share_app_ajito</string>
		<key>string_value</key>
		<string></string>
		<key>note</key>
		<string>share</string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_search_friend_confirm</string>
		<key>string_value</key>
		<string></string>
		<key>note</key>
		<string></string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_make_friend_confirm</string>
		<key>string_value</key>
		<string></string>
		<key>note</key>
		<string></string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_call_friend_confirm</string>
		<key>string_value</key>
		<string></string>
		<key>note</key>
		<string></string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_selected_unit_not_usable</string>
		<key>string_value</key>
		<string>\nロックされていないメンバーを選んでください</string>
		<key>note</key>
		<string></string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_selected_unit_empty</string>
		<key>string_value</key>
		<string>\nメンバーは６人まで選べます</string>
		<key>note</key>
		<string></string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_ajito_bottom_message</string>
		<key>string_value</key>
		<string>#不要</string>
		<key>note</key>
		<string></string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_gachifriend_list_empty</string>
		<key>string_value</key>
		<string></string>
		<key>note</key>
		<string></string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_share_app_ajito1</string>
		<key>string_value</key>
		<string></string>
		<key>note</key>
		<string>shareのはじめ</string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_share_app_ajito2</string>
		<key>string_value</key>
		<string></string>
		<key>note</key>
		<string>shareの終わり</string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_invited_id_existed1</string>
		<key>string_value</key>
		<string>\n</string>
		<key>note</key>
		<string>IDが存在するメッセージのはじめ</string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_invited_id_existed2</string>
		<key>string_value</key>
		<string>\nプレゼント！</string>
		<key>note</key>
		<string>IDが存在するメッセージの終わり</string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_input_invite_id_mess</string>
		<key>string_value</key>
		<string>\n事前登録の方は特典ＩＤを入力してください\n〈ＯＫ〉ボタンでスキップしてゲーム開始します</string>
		<key>note</key>
		<string>IDを入力のメッセージ</string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_invaild_invite_id</string>
		<key>string_value</key>
		<string>\nもう一度招待ＩＤを入力しますか？</string>
		<key>note</key>
		<string>ID入力した後</string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_input_gift_request_message</string>
		<key>string_value</key>
		<string>\n選んだ相手に同じメッセージが送信されます</string>
		<key>note</key>
		<string></string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_not_enough_gift</string>
		<key>string_value</key>
		<string>\nラーメン缶は毎日１０個取得できます</string>
		<key>note</key>
		<string></string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_not_enough_request</string>
		<key>string_value</key>
		<string>\nリクエストは１日１０回までです</string>
		<key>note</key>
		<string></string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_inbox_gift_empty</string>
		<key>string_value</key>
		<string>\nプレゼントは相手が贈ってから２４時間でなくなります</string>
		<key>note</key>
		<string></string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_inbox_request_gift_empty</string>
		<key>string_value</key>
		<string>\nリクエストは７日間表示されます</string>
		<key>note</key>
		<string></string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_default_gift_message</string>
		<key>string_value</key>
		<string></string>
		<key>note</key>
		<string></string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_default_request_message</string>
		<key>string_value</key>
		<string></string>
		<key>note</key>
		<string></string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_receive_gift_message</string>
		<key>string_value</key>
		<string></string>
		<key>note</key>
		<string></string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_request_gift_message</string>
		<key>string_value</key>
		<string></string>
		<key>note</key>
		<string></string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_next_first_day_bonus_alert</string>
		<key>string_value</key>
		<string></string>
		<key>note</key>
		<string>3時間後</string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_next_second_day_bonus_alert</string>
		<key>string_value</key>
		<string></string>
		<key>note</key>
		<string>2日目：当日初回起動後3時間後</string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_invited_item_message</string>
		<key>string_value</key>
		<string></string>
		<key>note</key>
		<string>IDを入力した後</string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_notification_title</string>
		<key>string_value</key>
		<string></string>
		<key>note</key>
		<string></string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_friend_need_renkei_text</string>
		<key>string_value</key>
		<string>\n友達がダチリストに表示されます\n※相手が『単虎外伝ガチンコの虎』ユーザーである必要があります</string>
		<key>note</key>
		<string></string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_no_friend_text</string>
		<key>string_value</key>
		<string></string>
		<key>note</key>
		<string></string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_no_achievement</string>
		<key>string_value</key>
		<string>\n次回の達成目標をお楽しみに！</string>
		<key>note</key>
		<string></string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_character_unlock_info_postfix</string>
		<key>string_value</key>
		<string></string>
		<key>note</key>
		<string></string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_character_yp_01_name</string>
		<key>string_value</key>
		<string>PUNCH</string>
		<key>note</key>
		<string>1の名前</string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_character_yp_02_name</string>
		<key>string_value</key>
		<string></string>
		<key>note</key>
		<string>2の名前</string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_character_yp_03_name</string>
		<key>string_value</key>
		<string>Eat-Boy</string>
		<key>note</key>
		<string>3の名前</string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_character_yp_04_name</string>
		<key>string_value</key>
		<string></string>
		<key>note</key>
		<string>4の名前</string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_character_yp_05_name</string>
		<key>string_value</key>
		<string></string>
		<key>note</key>
		<string>5の名前</string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_character_yp_06_name</string>
		<key>string_value</key>
		<string>HitMan</string>
		<key>note</key>
		<string>6の名前</string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_character_yp_07_name</string>
		<key>string_value</key>
		<string></string>
		<key>note</key>
		<string>7の名前</string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_character_yp_100_name</string>
		<key>string_value</key>
		<string></string>
		<key>note</key>
		<string>100の名前</string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_character_yp_200_name</string>
		<key>string_value</key>
		<string></string>
		<key>note</key>
		<string>200の名前</string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_character_yp_300_name</string>
		<key>string_value</key>
		<string></string>
		<key>note</key>
		<string>300の名前</string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_character_yp_400_name</string>
		<key>string_value</key>
		<string>LADY邪邪</string>
		<key>note</key>
		<string>400の名前</string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_character_yp_500_name</string>
		<key>string_value</key>
		<string>500</string>
		<key>note</key>
		<string>500の名前</string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_character_yp_600_name</string>
		<key>string_value</key>
		<string></string>
		<key>note</key>
		<string>600の名前</string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_character_yp_700_name</string>
		<key>string_value</key>
		<string>Charry～4</string>
		<key>note</key>
		<string>700の名前</string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_character_yp_01_yomi</string>
		<key>string_value</key>
		<string>(パンチ)</string>
		<key>note</key>
		<string>1の読み</string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_character_yp_02_yomi</string>
		<key>string_value</key>
		<string>(クラウド)</string>
		<key>note</key>
		<string>2の読み</string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_character_yp_03_yomi</string>
		<key>string_value</key>
		<string>(イートボーイ)</string>
		<key>note</key>
		<string>3の読み</string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_character_yp_04_yomi</string>
		<key>string_value</key>
		<string>(ゴクボシセイリュウ)</string>
		<key>note</key>
		<string>4の読み</string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_character_yp_05_yomi</string>
		<key>string_value</key>
		<string>(クリムゾン)</string>
		<key>note</key>
		<string>5の読み</string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_character_yp_06_yomi</string>
		<key>string_value</key>
		<string>(ヒットマン)</string>
		<key>note</key>
		<string>6の読み</string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_character_yp_07_yomi</string>
		<key>string_value</key>
		<string>(ジュウチン)</string>
		<key>note</key>
		<string>7の読み</string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_character_yp_100_yomi</string>
		<key>string_value</key>
		<string>(トッコウボッチ)</string>
		<key>note</key>
		<string>100の読み</string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_character_yp_200_yomi</string>
		<key>string_value</key>
		<string>(ギアナ)</string>
		<key>note</key>
		<string>200の読み</string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_character_yp_300_yomi</string>
		<key>string_value</key>
		<string>(リュウジンマル)</string>
		<key>note</key>
		<string>300の読み</string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_character_yp_400_yomi</string>
		<key>string_value</key>
		<string>(レディジャジャ)</string>
		<key>note</key>
		<string>400の読み</string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_character_yp_500_yomi</string>
		<key>string_value</key>
		<string>500の名前</string>
		<key>note</key>
		<string>500の読み</string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_character_yp_600_yomi</string>
		<key>string_value</key>
		<string>(クランケ)</string>
		<key>note</key>
		<string>600の読み</string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_character_yp_700_yomi</string>
		<key>string_value</key>
		<string>(チャリ～4)</string>
		<key>note</key>
		<string>700の読み</string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_character_yp_01_info</string>
		<key>string_value</key>
		<string>\n持ち前の侠気発揮して喧嘩の最前線に出張るのが得意。</string>
		<key>note</key>
		<string>1の情報</string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_character_yp_02_info</string>
		<key>string_value</key>
		<string>\nやや距離を置きつつ敵の急所にズバッと斬りこむ。</string>
		<key>note</key>
		<string>2の情報</string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_character_yp_03_info</string>
		<key>string_value</key>
		<string>\n後衛に陣取り、敵陣めがけて投げて投げて投げまくる！</string>
		<key>note</key>
		<string>3の情報</string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_character_yp_04_info</string>
		<key>string_value</key>
		<string>\n鍛えぬいた身体能力を活かして最前線までスピード移動。</string>
		<key>note</key>
		<string>4の情報</string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_character_yp_05_info</string>
		<key>string_value</key>
		<string>\n容赦の無いチェーン攻撃で心的外傷まで生じさせる。</string>
		<key>note</key>
		<string>5の情報</string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_character_yp_06_info</string>
		<key>string_value</key>
		<string>\nぶっ飛ばすの思いを込めた強烈な一撃が取り柄だ。</string>
		<key>note</key>
		<string>6の情報</string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_character_yp_07_info</string>
		<key>string_value</key>
		<string>\n任侠精神で味方ヤンキーが倒されると超絶攻撃を発揮。</string>
		<key>note</key>
		<string>7の情報</string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_character_yp_100_info</string>
		<key>string_value</key>
		<string>\n弾ける怒りを額に貯めこみ玉砕覚悟で敵陣に突入だ！</string>
		<key>note</key>
		<string>100の情報</string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_character_yp_200_info</string>
		<key>string_value</key>
		<string>\nヘアー上の出来事を認識していないがパワーは最凶だ。</string>
		<key>note</key>
		<string>200の情報</string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_character_yp_300_info</string>
		<key>string_value</key>
		<string>\nメタルな筋肉で全身を包みHPは仲間うちで随一を誇る。</string>
		<key>note</key>
		<string>300の情報</string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_character_yp_400_info</string>
		<key>string_value</key>
		<string>\n遠距離からプロ顔負けの構えでBB弾をひたすら連射する。</string>
		<key>note</key>
		<string>400の情報</string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_character_yp_500_info</string>
		<key>string_value</key>
		<string>500</string>
		<key>note</key>
		<string>500の情報</string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_character_yp_600_info</string>
		<key>string_value</key>
		<string>\n松葉杖に仕込む大型50口径のライフルで敵を瞬殺する。</string>
		<key>note</key>
		<string>600の情報</string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_character_yp_700_info</string>
		<key>string_value</key>
		<string>\n軽い身のこなしで最前線までぶっ込んでタメ攻撃した。</string>
		<key>note</key>
		<string>700の情報</string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_ajito_below_message</string>
		<key>string_value</key>
		<string></string>
		<key>note</key>
		<string></string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_easy_text</string>
		<key>string_value</key>
		<string></string>
		<key>note</key>
		<string></string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_normal_text</string>
		<key>string_value</key>
		<string></string>
		<key>note</key>
		<string></string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_hard_text</string>
		<key>string_value</key>
		<string></string>
		<key>note</key>
		<string></string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_facebook_renkei_confirm</string>
		<key>string_value</key>
		<string>\nフェイスブックの登録名とプロフィール画像が表示されます。\n次の連携メリットがあります：\n\n①ダチとラーメン缶のリクエストやプレゼントができます\n②ダチとランキングで競い合えます\n※フェイスブックより『単車の虎』の登録名が優先されます。</string>
		<key>note</key>
		<string>facebookと連携の確認</string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_facebook_renkei_modify_confirm</string>
		<key>string_value</key>
		<string>\nこの端末で連携すると他の端末の連携は無効になります\nフェイスブックと連携しますか？</string>
		<key>note</key>
		<string>facebookアカウントは１つ以上のガチアカウントを連携できないの確認</string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_download_mapdata_message</string>
		<key>string_value</key>
		<string>\nダウンロード中です...</string>
		<key>note</key>
		<string></string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_empty_friend_ranking_message</string>
		<key>string_value</key>
		<string>\nランキングは経験値で求めます</string>
		<key>note</key>
		<string></string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_line_not_installed</string>
		<key>string_value</key>
		<string>LINEアプリをインストールしてください</string>
		<key>note</key>
		<string>LINEアプルがない、シャールできません。</string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_open_external_app_error</string>
		<key>string_value</key>
		<string></string>
		<key>note</key>
		<string>LINEなどのアプリが見つからないのメッセージ</string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_inapp_billing_error</string>
		<key>string_value</key>
		<string></string>
		<key>note</key>
		<string></string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_achievement_result_content</string>
		<key>string_value</key>
		<string></string>
		<key>note</key>
		<string></string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_achievement_result_kill_number_pre</string>
		<key>string_value</key>
		<string></string>
		<key>note</key>
		<string>KillNumberのはじめ</string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_achievement_result_kill_number_post</string>
		<key>string_value</key>
		<string></string>
		<key>note</key>
		<string>KillNumberのおわり</string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_achievement_result_patsu_name_pre</string>
		<key>string_value</key>
		<string></string>
		<key>note</key>
		<string></string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_achievement_result_patsu_name_post</string>
		<key>string_value</key>
		<string></string>
		<key>note</key>
		<string></string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_achievement_get_patsu_need_renkei</string>
		<key>string_value</key>
		<string>\n今すぐ連携しますか？</string>
		<key>note</key>
		<string></string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_achievement_no_prize_message</string>
		<key>string_value</key>
		<string>\n受け取れる賞品があるとき、この画面で「受取」ボタンを押すと\n『単車の虎』アプリで受け取ることができます</string>
		<key>note</key>
		<string></string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_item_limited_99</string>
		<key>string_value</key>
		<string></string>
		<key>note</key>
		<string>99個を超す場合</string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_request_gift_fb_confirm</string>
		<key>string_value</key>
		<string>\n相手側のフェイスブックに通知しますか？</string>
		<key>note</key>
		<string>FBの通知の確認</string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_send_gift_fb_confirm</string>
		<key>string_value</key>
		<string>\n相手側のフェイスブックに通知しますか？</string>
		<key>note</key>
		<string>FBの通知の確認</string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_gift_same_friend</string>
		<key>string_value</key>
		<string>\n１日１回です</string>
		<key>note</key>
		<string></string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_request_same_friend</string>
		<key>string_value</key>
		<string>\n１日１回です</string>
		<key>note</key>
		<string></string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_server_maintaining_message</string>
		<key>string_value</key>
		<string>\nメンテナンス終了までしばらくお待ちください</string>
		<key>note</key>
		<string></string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_shop_item_detail_ai_01</string>
		<key>string_value</key>
		<string></string>
		<key>note</key>
		<string></string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_shop_item_detail_ai_01_02</string>
		<key>string_value</key>
		<string></string>
		<key>note</key>
		<string></string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_shop_item_detail_si_22</string>
		<key>string_value</key>
		<string>\n２０秒に伸ばします\nステージ中は有効です</string>
		<key>note</key>
		<string></string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_shop_item_detail_si_23</string>
		<key>string_value</key>
		<string>\n３０秒に伸ばします\nステージ中は有効です</string>
		<key>note</key>
		<string></string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_shop_item_detail_si_24</string>
		<key>string_value</key>
		<string>\n５０秒に伸ばします\nステージ中は有効です</string>
		<key>note</key>
		<string></string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_shop_item_title_ai_01</string>
		<key>string_value</key>
		<string></string>
		<key>note</key>
		<string></string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_shop_item_title_ai_01_02</string>
		<key>string_value</key>
		<string></string>
		<key>note</key>
		<string></string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_shop_item_title_si_22</string>
		<key>string_value</key>
		<string></string>
		<key>note</key>
		<string></string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_shop_item_title_si_23</string>
		<key>string_value</key>
		<string></string>
		<key>note</key>
		<string></string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_shop_item_title_si_24</string>
		<key>string_value</key>
		<string></string>
		<key>note</key>
		<string></string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_drop_item_name_di_01</string>
		<key>string_value</key>
		<string></string>
		<key>note</key>
		<string></string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_drop_item_name_di_02</string>
		<key>string_value</key>
		<string></string>
		<key>note</key>
		<string></string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_drop_item_name_di_03</string>
		<key>string_value</key>
		<string></string>
		<key>note</key>
		<string></string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_drop_item_name_di_04</string>
		<key>string_value</key>
		<string></string>
		<key>note</key>
		<string></string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_drop_item_name_di_05</string>
		<key>string_value</key>
		<string></string>
		<key>note</key>
		<string></string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_drop_item_name_di_06</string>
		<key>string_value</key>
		<string></string>
		<key>note</key>
		<string></string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_share_sns_bonus_mess</string>
		<key>string_value</key>
		<string>Gゲット（1日1回までです）</string>
		<key>note</key>
		<string></string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_yoyaku_top10_present</string>
		<key>string_value</key>
		<string>\n通常プレゼントの他に『単車の虎』で使える限定パーツ\n限定パーツ「ガチトラ旗棒」をプレゼント！\n画面左下のバナーをタップしてください</string>
		<key>note</key>
		<string>IDを知らせるメッセージ</string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_bonus_yoyakuset</string>
		<key>string_value</key>
		<string>\n\n〈極悪非道〉1個、〈天下無敵〉1個\n〈唯我独尊〉1個とラーメン1個をプレゼントします！！</string>
		<key>note</key>
		<string>IDのボナス</string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_tantora_error</string>
		<key>string_value</key>
		<string>\nのちほど改めてダチリストを開くと\n再度、ダチリストを取得します\nフェイスブックの友達応報のみ表示します</string>
		<key>note</key>
		<string></string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_fb_error</string>
		<key>string_value</key>
		<string>\nのちほど改めてダチリストを開くと\n再度、ダチリストを取得します\n『単車の虎』の友達情報のみ表示します</string>
		<key>note</key>
		<string>FBサーバが停止している時</string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_tantora_fb_error</string>
		<key>string_value</key>
		<string>\nのちほど改めてダチリストを開くと\n再度、ダチリストを取得します</string>
		<key>note</key>
		<string>FBサーバが停止している時</string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_name_ye_01</string>
		<key>string_value</key>
		<string></string>
		<key>note</key>
		<string></string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_name_ye_02</string>
		<key>string_value</key>
		<string></string>
		<key>note</key>
		<string></string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_name_ye_03</string>
		<key>string_value</key>
		<string></string>
		<key>note</key>
		<string></string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_name_ye_04</string>
		<key>string_value</key>
		<string></string>
		<key>note</key>
		<string></string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_name_ye_05</string>
		<key>string_value</key>
		<string></string>
		<key>note</key>
		<string></string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_name_ye_06</string>
		<key>string_value</key>
		<string></string>
		<key>note</key>
		<string></string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_name_ye_07</string>
		<key>string_value</key>
		<string></string>
		<key>note</key>
		<string></string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_name_ye_08</string>
		<key>string_value</key>
		<string></string>
		<key>note</key>
		<string></string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_name_ye_09</string>
		<key>string_value</key>
		<string></string>
		<key>note</key>
		<string></string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_name_ye_10</string>
		<key>string_value</key>
		<string></string>
		<key>note</key>
		<string></string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_name_ye_11</string>
		<key>string_value</key>
		<string></string>
		<key>note</key>
		<string></string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_name_ye_12</string>
		<key>string_value</key>
		<string></string>
		<key>note</key>
		<string></string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_name_ye_13</string>
		<key>string_value</key>
		<string></string>
		<key>note</key>
		<string></string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_name_ye_14</string>
		<key>string_value</key>
		<string></string>
		<key>note</key>
		<string></string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_name_ye_15</string>
		<key>string_value</key>
		<string></string>
		<key>note</key>
		<string></string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_name_ye_16</string>
		<key>string_value</key>
		<string></string>
		<key>note</key>
		<string></string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_name_ye_17</string>
		<key>string_value</key>
		<string></string>
		<key>note</key>
		<string></string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_name_ye_18</string>
		<key>string_value</key>
		<string></string>
		<key>note</key>
		<string></string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_name_ye_19</string>
		<key>string_value</key>
		<string></string>
		<key>note</key>
		<string></string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_name_ye_20</string>
		<key>string_value</key>
		<string></string>
		<key>note</key>
		<string></string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_name_ye_21</string>
		<key>string_value</key>
		<string></string>
		<key>note</key>
		<string></string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_name_ye_22</string>
		<key>string_value</key>
		<string></string>
		<key>note</key>
		<string></string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_name_ye_23</string>
		<key>string_value</key>
		<string></string>
		<key>note</key>
		<string></string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_name_ye_24</string>
		<key>string_value</key>
		<string></string>
		<key>note</key>
		<string></string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_name_ye_25</string>
		<key>string_value</key>
		<string></string>
		<key>note</key>
		<string></string>
	</dict>
	<dict>
		<key>string_id</key>
		<string>japanese_bad_word_input</string>
		<key>string_value</key>
		<string>\n文章を見直してください</string>
		<key>note</key>
		<string></string>
	</dict>
</array>
</plist>
